body{
    margin: 0;
    background-color: blanchedalmond;
    text-align: center;
}
.hamburger{
    left: 0;
    top: 0;
    position: fixed;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: 0;
}
.hamburger:hover{
    cursor: pointer;
}
.button{
    padding:1% 5%;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(190, 68, 68);
    text-decoration: none;
    color: white;
    transition-duration: 0.1s;
}
.button:hover{
    background-color: lightcoral;
}
.headerdiv{
    background-color: teal;
    padding: 5%;
    color: white;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    display: block;
}
.sidebar a{
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    transition: 0.3s;
    color: black;
}
.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar li{
    display: flex;
    padding-top: 0;
    color: white;
    transition: 0.1s ease;
    align-items: center;
    justify-content: center;
}
.sidebar li:hover{
    background-color: gray;
}
.sidebar a:hover{
    color: blue;
    transition: 0s;
}
.sidebar .closebutton{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    border: none;
}
.closebutton:hover{
    cursor: pointer;
}
